.card_sec {
  width: 200px;
  height: 380px;
  background-color: orange;
  margin: auto;
}
.card_sec img {
  width: 200px;
}

/* .card_sec h4 {
  text-align: center;
  color: #fff;
} */

.card_sec p {
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.card_sec button {
  padding: 5px 12px;
  border: none;
  margin: 12px auto 0; 
  color: #fff;
  background-color: aqua;
  display: block;
  
}
